# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/
env/

# Env files
.env

# Data (large files - don't commit)
backend/data/*.csv
backend/data/*.zip
backend/ml/*.pkl
backend/ml/*.pt

# Node / Frontend
frontend/node_modules/
frontend/.next/
frontend/out/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Notebooks
.ipynb_checkpoints/
